body {
    display: flex;
    align-items: stretch;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat";
}

button {
    font-family: inherit;
}
#leftMenu {
    background-color: #2f3340;
    height: 100%;
    width: 500px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

#leftLogo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#leftLogoContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #4b7b9e;
}

button {
    text-align: left;
    border: none;
    background-color: #4a536e;
    font-size: 24px;
    padding: 30px 100px;
    color: white;
    border-radius: 100px;
    transition: ease-in-out 0.2s;
}

button:hover {
    background-color: #697599;
}

button:active {
    background-color: #4a536e;
}

.leftMenuButton {
    margin-left: 30px;
    width: 70%;
    padding: 15px 30px;
}
.leftTitle {
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}

#main {
    padding: 20px 60px;
}

.blocks {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#mainAddText {
    margin-top: 60px;
}

.dataBlock {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.addBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.addBlock > input {
    border-radius: 10px;
    font-size: 20px;
    border: #2f33407e 1px solid;
    padding: 10px;
}
