.services {
    font-size: 0.9vw;
    color: rgb(255, 255, 255);
    font-family: "M PLUS 1p";
    font-weight: bold;
    margin-top: 1.5vw;
    margin-right: 5vw;
}

button {
    cursor: pointer;
}

.bannerImg {
    width: 100%;
    vertical-align: middle;
    background-image: url("../images/banners/index_banner_img.jpg");
    background-size: 80%;
    background-position: 100% 50%;
    height: 350px;
}

.bannerImgGrad {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(0, 0, 0, 0) 100%
    );
}

.bannerText {
    margin: 0;
    padding: 0;
    position: relative;
    top: 40px;
    left: 20%;
    width: 80%;
    font-size: 55px;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 1px 3px #3b92c8be;
    background-clip: text;
}

.rootTrustBlocks {
    background-color: #eee;
    border-radius: 20px;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    justify-content: space-between;
    padding: 12px;
}

.trustBlock {
    background-color: #ffffff;
    border-radius: 10px;
}

.weHaveTrust {
    padding-left: 25%;
    padding-right: 25%;
}

#callMeasureMail {
    cursor: pointer;
}
.trustImg {
    width: 100%;
}

.shortAboutUs {
    display: flex;
    margin-top: 50px;
    background-image: url("../images/krat.svg");
    background-size: cover;
    background-position: 75% 50%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.shortAboutUsText {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
}

#shortAboutUsSpacer {
    flex: 4;
}

.tableShort {
    font-size: 28px;
    font-family: "M PLUS 1p";
    font-weight: bold;
    color: #4b7b9e;
}

.textShort {
    font-size: 24px;
    font-weight: 400;
}

.imgShort {
    width: 100vw;
}

.simpleSteps {
    display: flex;
    justify-content: center;

    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}

.titleText {
    color: #4b7b9e;
    font-family: "M PLUS 1p";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-size: 100vw 10vw;
    background-color: #4b7b9e;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 140px;
    position: sticky;
    z-index: 3;
}
.vl {
    border-left: 2px solid white;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.menuLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menuItem {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.menuItem > a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    /* height: 80px; */
    font-size: 16px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    white-space: nowrap;
}

.brands {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
}

.brands > .titleText,
.discounts > .titleText {
    margin: 30px 0 10px 0;
}

.discounts {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}

.priceExample {
    display: flex;
    flex-direction: column;
}

.reviewBlock {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
}

.ask,
.orderCount {
    border-radius: 20px;
    background-color: #57a2bd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.askUserData,
.askSend,
.orderSend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.askText {
    color: white;
    font-size: 24px;
}

.askUserField,
.orderNumber {
    width: 50%;
    border: none;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: "Montserrat";
}

.askSendButton,
.orderSendButton {
    border: none;
    background-color: #336281;
    color: white;
    font-size: 28px;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    height: 80px;
}

.askSendTerms {
    width: 50%;
    display: flex;
    align-items: center;
    color: white;
}

.askSendCheckBox {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.orderCountText {
    border: none;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: "Montserrat";
}

.orderNumber,
.orderSendButton {
    height: 60px;
}

.callMeasure {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 5px;
}

.callMeasureText > p {
    color: #336281;
}

.freeServices {
    display: flex;
    justify-content: space-between;
}

.freeServicesBlock {
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 32%;
    background-color: #57a2bd;
    border-radius: 10px;
}

.freeServicesBlock > img {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

.freeServicesBlock > h1 {
    margin-top: 10px;
    font-weight: 400;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 24px;
}

.callMeasureText {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 5px;
    font-size: 18px !important;
}

.callMeasureText > img {
    width: 40px;
    height: 40px;
}

.callMeasureText > p {
    flex: 1;
}

.end {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #336281;
    color: white;
}

.endRow {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.emailOrTel {
    margin: 0%;
    align-self: center;
    text-decoration: none;
    text-align: center;
}

.geo {
    background-color: #eee;
    aspect-ratio: 2;
}

#bannerMob {
    display: none;
}

.endRight {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: end;
}

.endRight > h2 {
    font-weight: 400;
    font-family: "Montserrat";
    margin: 10px;
}

.endRight > .number {
    margin: 0;
    font-weight: 600 !important;
    font-size: 34px;
}

#disclaimer {
    width: 80%;
}

.brandsImg {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-between;
    align-items: end;
}

.brandsImg > img {
    width: 22%;
}

#mobileNavMenu {
    display: none;
    background-color: #336281;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: ease-in-out 0.4s;
    z-index: 4;
}

#mobNavBtnSpacer {
    padding-top: 30px;
    display: flex;
    justify-content: end;
}

#stepsImgMob {
    display: none;
}

.geo > iframe {
    width: 100%;
    height: 100%;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding-left: 25%;
    padding-right: 25%;
    background-color: #33628193;
    justify-content: space-around;
    flex-direction: column;
}

.discounts {
    padding-left: 35%;
    padding-right: 35%;
}

@media screen and (max-width: 500px) {
    .geo {
        background-color: #eee;
        aspect-ratio: 0.8;
    }

    .callMeasureText > p {
        flex: 0;
    }

    .callMeasure {
        width: 80%;
        align-self: center;
    }

    .geo > iframe {
        width: 100%;
    }

    .reviewBlock {
        padding-left: 10px;
        padding-right: 10px;
    }

    #mobileNavMenu {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    #mobileNavMenu > .menuItem {
        margin: 10px 0px;
    }
    .mobileNavMenuOpened {
        left: 0;
    }

    .mobileNavMenuClosed {
        left: 100vw;
    }

    .menu {
        display: none;
    }

    #banner {
        display: none;
    }

    #bannerMob {
        display: flex;
    }

    .titleText {
        font-size: 28px;
    }

    .brandsImg {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .brandsImg > img {
        width: 100%;
    }

    #shortAboutUsSpacer {
        display: none;
    }
    .shortAboutUs {
        position: relative;
        background-image: none;
    }
    .shortAboutUs:before {
        opacity: 0.5;
        background-image: url("../images/krat.svg");
        background-size: cover;
        background-position: 75% 50%;
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .shortAboutUsText {
        margin-left: 20px;
        opacity: 1;
        position: relative;
    }

    .rootTrustBlocks {
        display: flex;
        flex-direction: column;
    }

    .carouselButton {
        display: none;
    }

    .freeServices {
        flex-direction: column;
        gap: 10px;
    }

    .freeServicesBlock {
        width: 100%;
    }

    .askUserData {
        flex-direction: column;
    }

    .askUserField {
        width: 100%;
    }

    .askSend,
    .orderSend {
        flex-direction: column-reverse;
    }

    .askSend > *,
    .orderSend > * {
        width: 100%;
    }

    .orderNumber {
        width: 94%;
    }

    .end {
        flex-direction: column;
        gap: 30px;
    }

    .endRow {
        flex-direction: column;
    }

    .endRow > .headerLogo {
        width: 100%;
        margin-bottom: 30px;
    }

    #disclaimer {
        width: 100%;
    }

    .discounts,
    .brands,
    .simpleSteps {
        padding-left: initial;
        padding-right: initial;
    }

    .bannerText {
        font-size: 30px;
        left: 10%;
        width: 90%;
        line-height: 45px;
    }

    .bannerImg {
        background-size: 140%;
    }

    #stepsImgMob {
        display: initial;
    }
    #stepsImg {
        display: none;
    }

    .modal {
        padding: 25px;
    }
}
