body {
    margin: 0%;
    overflow-x: hidden;
    font-family: "Montserrat";

}

a {
    text-decoration: none;
}

.header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100px;
    background-color: #336281;
    padding-left: 15%;
    padding-right: 15%;
}

.call {
    display: flex;
    align-items: center;
}
.linkwhts {
  margin: 0;
  align-self: center;
}
.whts {
  margin-right: 1vw;
  width: 2.2vw;
}

.number {
    font-size: 24px;

    color: rgb(255, 255, 255);
    font-weight: bold;
}

.panorama {
    white-space: nowrap;
    font-size: 24px;
    color: #ffffff;
    font-family: "M PLUS 1p";
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(34, 34, 34);
}

.callImg {
    margin-left: 15px;
    width: 40px;
}

.linkTg > .callImg {
    width: 36px;
}
