body {
    margin: 0%;
    overflow-x: hidden;
    font-family: "Montserrat";
}

a {
    text-decoration: none;
}

.block {
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100px;
}

.headerMob {
    background-color: #336281;
}

.headerLogo {
    width: 20%;
}

.call {
    display: flex;
    align-items: center;
}
.number {
    font-size: 24px;

    color: rgb(255, 255, 255);
    font-weight: bold;
}

.panorama {
    white-space: nowrap;
    font-size: 24px;
    color: #ffffff;
    font-family: "M PLUS 1p";
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(34, 34, 34);
}

.callImg {
    margin-left: 15px;
    width: 40px;
}

#linkTg > img {
    width: 36px;
}

.carousel,
.videoCarousel {
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}

.carouselBody,
.videoCarouselBody {
    display: flex;
    overflow: scroll;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    scroll-snap-type: x mandatory;
}

.videoCarouselBody {
    padding-top: 80px;
    padding-bottom: 80px;
}

.carouselBody > *,
.videoCarouselBody > * {
    scroll-snap-align: center;
}

.carouselButton {
    border-radius: 50%;
    background-color: #336281;
    color: white;
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 15px;
    display: flex;
}

.carouselButton > img {
    height: 70%;
    display: block;
    margin: auto;
}

.previous {
    transform: scaleX(-1);
}

.selected {
    transform: scale(1.5);
}

.first {
    transform-origin: center left;
}

.last {
    transform-origin: center right;
}

#mobileNavButton {
    display: none;
}

/* * {
    border: 1px solid red;
} */

@media screen and (max-width: 500px) {
    .block {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 20px;
    }

    .headerMob {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .headerLogo {
        width: 80%;
    }

    #mobileNavButton {
        display: initial;
        margin-right: 20px;
        margin-top: 20px;
        border: none;
        background-color: #336281;
    }

    .number {
        font-size: 16px;
    }

    .link > img {
        width: 30px;
    }

    #linkTg > img {
        width: 28px;
    }

    .selected {
        transform: none;
    }
}
